<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello</h1>
<!--<form th:text="@{'/posts/create'}" method="GET">-->
<!--    <input id="title" name="title" th:value="${post.title}" placeholder="title">-->
<!--    <input id="body" name="body" th:value="${body}" placeholder="body">-->
<!--</form>-->
<form th:action="@{'/posts/create'}" method="POST" th:object="${post}">
    <label for="title">Title: </label>
    <input id="title" th:field="*{title}" type="text"/>
    <br />
    <label for="body">Description:</label>
    <input id="body" th:field="*{body}" />
    <br />
    <input type="submit" />
</form>

</body>
</html>